/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles Here */
[data-theme='dark'] {
  background: #10141e;
  min-height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
ul,
figure {
  margin: 0;
}
